<p id="notice"><%= notice %></p>

<p>
  <strong>Products:</strong>
  <%= @cart.products %>
</p>

<p>
  <strong>User:</strong>
  <%= @cart.user %>
</p>

<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>
